<div class="wrapper fadeInDown fixed-top logincontainer">
  <div id="formContent">
    <!-- Tabs Titles -->
    <!-- Icon -->
    <img
      src="assets/warframelogoblack.png"
      id="icon"
      alt="User Icon"
      class="logo"
    />
    <div id="loginMessage" [ngClass]="{invisible: !formvisible}">
      Account successfully created! <br />
      Now all you need is just login in. <br /><br /><br /><br /><br />
      <a
        class="underlineHover"
        routerLink="/login"
        routerLinkActive="true"
        style="
        display: block;
        border-radius: 30px;
        color: gold;
        background-color: black;
        padding: auto;
        padding-bottom: 3px;"
        > Sign in
      </a>
    </div>
    <!-- Login Form -->
    <form id="loginForm" (submit)="userRegisterClick()" [ngClass]="{invisible: formvisible}">
      <input
        type="text"
        [formControl]="login"
        [ngClass]="{'error': loginInvalid}"
        id="login"
        class="fadeIn second field"
        name="login"
        placeholder="Username"
        required
      /><br />
      <input
        type="password"
        [formControl]="password"
        [ngClass]="{'error': passwordInvalid}"
        id="password"
        class="fadeIn third field"
        name="password"
        placeholder="Password"
        required
      /><br />
      <input
      type="password"
      [formControl]="cPassword"
      [ngClass]="{'error': cPasswordInvalid}"
      id="confPassword"
      class="fadeIn third field"
      name="ConfPassword"
      placeholder="Confirm password"
      required
    /><br />
      <div 
        id="errorHandler"
        [ngClass]="{'active': errorHandler}"
        > {{errorMessage}}
      </div>
      <input type="submit" class="fadeIn fourth submit" value="Sign up" />
    </form>
    <br />
    <div id="formFooter" style="text-align: center" [ngClass]="{invisible: formvisible}">
      <a
        class="underlineHover"
        routerLink="/login"
        routerLinkActive="true"
        style="color: rgb(15, 148, 209)"
        >Already has account? Sign in
      </a>
    </div>
  </div>
</div>
