.tableContainer {
  margin: 68px 2vw;
  margin-bottom: 0px;
  h1 {
    font-family: Sansation;
    font-size: 40px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(228, 228, 228, 1);
    text-transform: uppercase;
  }
  .item {
    display: block;
    margin-bottom: 20px;
  }
}
