<div class="tableContainer">
  <h1>resources</h1>
  <div class="searchControl">
    <input alt="search" (input)="keyPressNumbers($event)"/>
    <div class="categFilter">
      <button (click)="CategSea('')"><img src="../../../../assets/resources/categ/all.png" alt="All"></button>
      <button (click)="CategSea('')">Ready to build</button>
      <button (click)="CategSea('',['warframe','warframe part'])"><img src="../../../../assets/resources/categ/warframe.png" alt="Warframe"></button>
      <button (click)="CategSea('primary')"><img src="../../../../assets/resources/categ/weapon.png" alt="Primary"></button>
      <button (click)="CategSea('secondary')">Secondary</button>
      <button (click)="CategSea('melee')">Melee</button>
      <button (click)="CategSea('',['archwing','archwing part'])"><img src="../../../../assets/resources/categ/vehicle.png" alt="Archwing"></button>
      <button (click)="CategSea('',['companion','companion part'])"><img src="../../../../assets/resources/categ/robotic.png" alt="Companions"></button>
      <button (click)="CategSea('mining')">Mining</button>
      <button (click)="CategSea('',['warframe','warframe part','weapon','archwing',
        'archwing part','companion','companion part', 'mining'],[], true)"><img src="../../../../assets/resources/categ/miscellaneous.png" alt="Miscellaneous"></button>
    </div>
    <button class="filter">filter</button>
  </div>
  <div class="resTable">
    <div #itemsContainer></div>
    <ng-template #item let-item="item">
      <app-craft-item
      [item]="item"
      ></app-craft-item>
    </ng-template>
  </div>
</div>
