<div class="wrapper fadeInDown fixed-top logincontainer">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <img
      src="assets/warframelogoblack.png"
      id="icon"
      alt="User Icon"
      class="logo"
    />

    <!-- Login Form -->

    <form id="loginForm">
      <input
        type="text"
        id="login"
        class="fadeIn second"
        name="login"
        placeholder="login"
      /><br />

      <input
        type="password"
        id="password"
        class="fadeIn third"
        name="password"
        placeholder="password"
      /><br /> <br />
      <input type="checkbox" name="remMe" id="remMe">
      <label for="remMe" id="remMeLable">Remember me</label> <br />
      <input type="submit" class="fadeIn fourth submit" value="Log In" />
    </form>
    <br />

    <div id="formFooter" style="text-align: center;">
      <a
        class="underlineHover"
        routerLink="/registration"
        routerLinkActive="true"
        style="color: rgb(15, 148, 209);"
        >New User? Register here</a
      >
    </div>
  </div>
</div>

