<div>
  <div class="profImgTable">
    <div *ngFor="let img of UserInfo?.imgList; index as i" class="itemImg">
      <img (click)="SelectProfImg(i+1)" [src]="'../../../assets/userInfo/portraiticons/'+img+'.png'" alt="profpic">
    </div>
  </div>
  <div class="profRankTable">
    <div *ngFor="let rank of UserInfo?.ranksList; index as i" class="itemRank">
      <div (click)="SelectRank(i)" class="rank">
        <p>{{rank}}</p>
        <img *ngIf="rank != 'Unranked'" [src]="GetRankImg(rank)" alt="">
      </div>
    </div>
  </div>
  <div class="chPassContainer">
    <h1>change password</h1>
    <input [(ngModel)]="oldPass" class="prevPassword" type="text" placeholder="PREVIOUS PASSWORD">
    <input [(ngModel)]="newPass" class="nextPassword" type="text" placeholder="NEW PASSWORD">
    <button (click)="PassCh()">SAVE</button>
  </div>
  <div class="logOut">
    <button (click)="ex = true">Log out</button>
    <div class="warningMessageBox" *ngIf="ex">
      <div class="warningMessage">
        <h1>WARNING</h1>
        <p>do you really want to log out?</p>
        <div class="control">
          <button class="cancel" (click)="ex = false">CANCEL</button>
          <button class="accept" (click)="LogOut()">EXIT</button>
        </div>
      </div>
    </div>
  </div>
  <div class="delete">
    <button (click)="del = true">Delete</button>
    <div class="warningMessageBox" *ngIf="del">
      <div class="warningMessage">
        <h1>WARNING</h1>
        <p>do you really want to delete your account?</p>
        <input [(ngModel)]="delPass" type="text">
        <div class="control">
          <button class="cancel" (click)="del = false">CANCEL</button>
          <button class="accept" (click)="DelAcc()">DELETE</button>
        </div>
      </div>
    </div>
  </div>
</div>
