<div class="tableContainer">
  <h1>items</h1>
  <div class="searchControl">
    <input 
    [class.nval]="currPar.str == ''"
    type="search"
    class="search" alt="search" placeholder="search" (input)="keyPressNumbers($event)"/>
    <div class="categFilter">
      <button 
      [class.curr]="currCateg == 'all'"
      (click)="currCateg = 'all'"
      (click)="CategSea('')">all</button>
      <button 
      [class.curr]="currCateg == 'warframe'"
      (click)="currCateg = 'warframe'"
      (click)="CategSea('',['warframe','warframe part'])">warframes</button>
      <button 
      [class.curr]="currCateg == 'weapon'"
      (click)="currCateg = 'weapon'"
      (click)="CategSea('',['weapon','weapon part'])">weapons</button>
      <button 
      [class.curr]="currCateg == 'companion'"
      (click)="currCateg = 'companion'"
      (click)="CategSea('',['companion','companion part'])">companions</button>
      <button 
      [class.curr]="currCateg == 'resource'"
      (click)="currCateg = 'resource'"
      (click)="CategSea('resource')">miscellaneous</button>
      <button 
      [class.curr]="currCateg == 'archwing'"
      (click)="currCateg = 'archwing'"
      (click)="CategSea('',['archwing','archwing part'])">archwing</button>
    </div>
    <div class="fil">
      <button (click)="addPar = !addPar" class="filter">filter<img src="../../../../assets/filter.png"/></button>
      <div *ngIf="addPar" class="addInstr">
        <app-check-three [text]="'Ready to build'" (ngModelChange)="Display('rtb', $event)" [(ngModel)]="currPar.readyToBuild"></app-check-three>
        <app-check-three [text]="'Owned'" (ngModelChange)="Display('own', $event)" [(ngModel)]="currPar.own"></app-check-three>
      </div>
    </div>
  </div>
  <div class="resTable">
    <div #itemsContainer></div>
    <ng-template #item let-item="item">
      <app-ars-table-item
      [item]=item></app-ars-table-item>
    </ng-template>
  </div>
</div>
