<div class="tableContainer">
  <h1>resources</h1>
  <div class="searchControl">
    <input alt="search" (input)="keyPressNumbers($event)"/>
    <div class="categFilter">
      <button (click)="CategSea('')"><img src="../../../../assets/resources/categ/all.png" alt="All"></button>
      <button (click)="CategSea('',['warframe','warframe part'])"><img src="../../../../assets/resources/categ/warframe.png" alt="All"></button>
      <button (click)="CategSea('',['weapon','weapon part'])"><img src="../../../../assets/resources/categ/weapon.png" alt="All"></button>
      <button (click)="CategSea('',['companion','companion part'])"><img src="../../../../assets/resources/categ/robotic.png" alt="All"></button>
      <button (click)="CategSea('resource')"><img src="../../../../assets/resources/categ/resource.png" alt="All"></button>
      <button (click)="CategSea('',['archwing','archwing part'])"><img src="../../../../assets/resources/categ/vehicle.png" alt="All"></button>
      <button (click)="CategSea('')"><img src="../../../../assets/resources/categ/archweapon.png" alt="All"></button>
      <button (click)="CategSea('miscellaneous')"><img src="../../../../assets/resources/categ/miscellaneous.png" alt="All"></button>
    </div>
    <div class="fil">
      <button (click)="addPar = !addPar" class="filter">filter</button>
      <div *ngIf="addPar" class="addInstr">
        <app-check-three [text]="'Ready to build'" (ngModelChange)="Display('rtb', $event)" [(ngModel)]="currPar.readyToBuild"></app-check-three>
        <app-check-three [text]="'Owned'" (ngModelChange)="Display('own', $event)" [(ngModel)]="currPar.own"></app-check-three>
      </div>
    </div>
  </div>
  <div class="resTable">
    <div #itemsContainer></div>
    <ng-template #item let-item="item">
      <app-ars-table-item
      [item]=item></app-ars-table-item>
    </ng-template>
  </div>
</div>
