<div class="tableContainer">
  <h1>resources</h1>
  <div class="searchControl">
    <input alt="search" (input)="keyPressNumbers($event)"/>
    <div class="categFilter">
      <button (click)="CategSea('')">All</button>
      <button (click)="CategSea('common')">Common</button>
      <button (click)="CategSea('uncommon')">Uncommon</button>
      <button (click)="CategSea('rare')">Rare</button>
      <button (click)="CategSea('special')">Special</button>
      <button (click)="CategSea('empyrean')">Empyrean</button>
      <button (click)="CategSea('miscellaneous')">Miscellaneous</button>
      <button (click)="CategSea('mining')">Ores</button>
      <button (click)="CategSea('',['spoils','parts'])">Fish</button> 
    </div>
    <button class="filter">filter</button>
  </div>
  <cdk-virtual-scroll-viewport itemSize="50">
    <app-res-table-item *cdkVirtualFor="let item of cutedMass" [item]=item>
    </app-res-table-item>
  </cdk-virtual-scroll-viewport>
  <!--<div class="resTable">
    <app-res-table-item 
    *ngFor="let item of cutedMass"
    [item]=item></app-res-table-item>
  </div>-->
</div>
