@font-face {
  font-family: 'Sansation';
  src: url(../../../assets/fonts/Sansation/Sansation-Regular.ttf);
}
nav {
  font-family: 'Sansation';
  font-style: normal;
  font-weight: 700;
  font-size: 2.083vw;
  text-transform: uppercase;
  color: #E4E4E4;
  button, a {
    height: 2.778vw;
    padding-left: 2.778vw;
    margin-bottom: 0.554vw;
    border: none;
    font-family: inherit;
    font-weight: inherit;
    text-transform: inherit;
    background-color: #ACACAC;
    color: inherit;
  }
  button {
    width: 100%;
    text-align: left;
  }
  a {
    display: block;
    text-decoration: none;
  }
}