.craftItemContainer {
  margin: 0px 0px 20px 0px;
  padding: 45px 35px 0 35px;
  background-color: #DCDADA;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .disp {
    margin: 0px 0px 35px 50px;
    img {
      width: 225px;
      height: 200px;
      object-fit: contain;
    }
    p {
      img {
        width: 20px;
        height: 20px;
        object-fit: contain;
      }
      width: 100%;
      text-align: center;
    }
  }
  .craftRes {
    margin-bottom:80px;
    width: 430px;
    .craftResContainer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      .craftResource {
        width: 205px;
        height: 50px;
        margin-bottom: 15px;
        background-color: #ACACAC;
        img {
          height: 50px;
          width: 50px;
          object-fit: contain;
        }
      }
    }
    
    p {
      text-align: center;
    }
  }
}