
<div class="craftItemContainer" (mouseleave)="ClearPopUp()">
  <div class="disp">
    <img [src]="item.img" />
    <p>
      <img src="../../../../../assets/credits.png" alt="MImg">
      {{item.credits}}
      Time:{{time.GetTimeString(item.creationTime)}}</p>
  </div>
  <div class="craftRes">
    <p>{{item.name}}</p>
    <div class="craftResContainer">
      <div 
      class="craftResource"
      *ngFor="let res of item.FullRes" 
      (mouseenter) = "DisplayRes($event, res.res.name)">
      <img [src]="res.res.img" alt="Item"/>
        {{res.res.name}}:{{res.num}}
      </div>
    </div>
    <div #itemsContainer ></div>
    <ng-template #ite let-item="item" let-left="x" let-top="y">
      <app-craft-item class="popUp" [item]="item" [zpos]="zpos+1" [style.top]="top" [style.left]="left" [style.z-index]="zpos+1"  style="position: absolute; border: 3px solid black;"></app-craft-item>
    </ng-template>
  </div>

  {{item.owned}}
  <br>
  <div class="itemResourcesContainer">
    <div *ngFor="let res of ress" style="background-color: green;">
      {{res.res.name}}:
      <input type="text" inputmode="numeric" (focusout)="ch.saveNewResNum(res.res.id, res.res.owned, 'resource')" (keypress)="ch.keyPressNumbers($event)" (change)="ch.setZero($event)"  [(ngModel)]="res.res.owned">
      /{{res.num}}
    </div>
  </div>
</div>
