.craftItemContainer {
  margin: 0px 40px 20px 40px;
  padding: 45px 35px 0 35px;
  background-color: #DCDADA;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .disp {
    margin: 0px 0px 35px 50px;
    img {
      width: 225px;
      height: 200px;
    }
    p {
      img {
        width: 17px;
        height: 20px;
      }
      width: 100%;
      text-align: center;
    }
  }
  .craftRes {
    margin-bottom:80px;
    p {
      text-align: center;
    }
  }
}