@media only screen and (max-width: 1600px) {
  .itemResourcesContainer {
    display: none !important;
  }
}
@media only screen and (max-width: 1040px) {
  .craftRes {
    overflow: visible;
    position: relative;
  }
  .craftResContainer {
    width: min-content !important;
    position: absolute;
    right: 0px;
    top: 34px;
    height: 80%;
    flex-direction: column !important;
    justify-content: center !important;
    
    .craftResource {
      height: fit-content !important;
    }
  } 
}
