
<div class="craftItemContainer" (mouseleave)="ClearPopUp()">
  <div class="disp">
    <div *ngIf="full" class="bigicon"></div>
    <img [src]="item.img" />
  </div>
  <div class="craftRes">
    <h1>{{item.name}}</h1>
    <div class="owned">
      <h2>owned:</h2>
      <input type="text" inputmode="numeric" (change)="ch.saveNewResNum($event,item, 'item')" (keypress)="ch.keyPressNumbers($event)" [(ngModel)]="item.owned">
    </div>
    <h2>
      <img src="../../../../../assets/credits.png" alt="MImg">
      {{item.credits}}
    </h2>
    <h2>
      Time:{{time.GetTimeString(item.creationTime)}}
    </h2>
    <div class="craftResContainer">
      <div 
      class="craftResource"
      *ngFor="let res of item.FullRes" 
      (mouseenter) = "DisplayRes($event, res.res.name)">
        <img [src]="res.res.img" alt="Item"/>
        <div class="resInfo">
          <h3>{{res.res.name}}</h3>
          <h4>owned:</h4>
          <input type="text" inputmode="numeric" (change)="ch.saveNewResNum($event,res.res,(res.res.FullRes != undefined)? 'item': 'resource')" (keypress)="ch.keyPressNumbers($event)" [(ngModel)]="res.res.owned">
          <h4>/{{res.num}}</h4>
        </div>
      </div>
    </div>
    <div #itemsContainer ></div>
    <ng-template #ite let-item="item" let-left="x" let-top="y">
      <app-craft-item class="popUp" [item]="item" [zpos]="zpos+1" [full]="false" [style.top]="top" [style.left]="left" [style.z-index]="zpos+1"  style="position: absolute; border: 3px solid black;"></app-craft-item>
    </ng-template>
  </div>
  <div *ngIf="full" class="itemResourcesContainer">
    <h2>Needed</h2>
    <div *ngFor="let res of ress">
      <p>{{res.res.name}}</p>
      <div class="num">
        <input type="text" inputmode="numeric" (change)="ch.saveNewResNum($event,res.res, 'resource')" (keypress)="ch.keyPressNumbers($event)" [(ngModel)]="res.res.owned">
        <p>/{{res.num}}</p>
      </div>
    </div>
  </div>
</div>
