<div class="wrapper fadeInDown fixed-top logincontainer">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <img
      src="assets/warframelogoblack.png"
      id="icon"
      alt="User Icon"
      class="logo"
    />

    <!-- Login Form -->

    <form id="loginForm">
      <input
        type="text"
        id="login"
        class="fadeIn second field"
        name="login"
        placeholder="Username"
        required
      /><br />
      <input
        type="password"
        id="password"
        class="fadeIn third field"
        name="password"
        placeholder="Password"
        required
      /><br />
      <input
      type="password"
      id="confPassword"
      class="fadeIn third field"
      name="ConfPassword"
      placeholder="Confirm password"
      required
    /><br />
      <br />
      <input type="submit" class="fadeIn fourth submit" value="Sign up" />
    </form>
    <br />

    <div id="formFooter" style="text-align: center">
      <a
        class="underlineHover"
        routerLink="/login"
        routerLinkActive="true"
        style="color: rgb(15, 148, 209)"
        >Already has account? Sign in
      </a>
    </div>
  </div>
</div>
