<div class="wrapper fadeInDown fixed-top logincontainer">

  <div id="formContent" >

    <!-- Tabs Titles -->

    <!-- Icon -->

    <div class="fadeIn first" style="width: 180px;">

      <img src="assets/warframelogo.png" id="icon" alt="User Icon" class="logo"/>

    </div><br><br>

    <!-- Login Form -->

    <form>

      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login"><br><br>

      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password"><br><br>

      <input type="submit" class="fadeIn fourth" value="Log In">

    </form><br>

    <!-- Remind Passowrd -->

    <div id="formFooter">

      <a class="underlineHover" href="#">Forgot Password?</a>

    </div><br>

    <div id="formFooter" >

      <a class="underlineHover" routerLink="/login" routerLinkActive="true" style="color:rgb(241, 148, 41)">Already have accuunt? Login here</a>

    </div>

  </div>

</div>    

<script type="text/javascript"></script>
