<div class="wrapper fadeInDown fixed-top logincontainer">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <img
      src="assets/warframelogoblack.png"
      id="icon"
      alt="User Icon"
      class="logo"
    />

    <!-- Login Form -->

    <form id="loginForm" [formGroup]="form" (submit)="userSignInClick()" >
      <input
        type="text"
        id="login"
        formControlName="login"
        (ngModelChange)="logValCh()"
        [ngClass]="{'error': loginInvalid}"
        class="fadeIn second field"
        name="login"
        placeholder="Username"
        required
      /><br />
      <input
        type="password"
        id="password"
        formControlName="password"
        (ngModelChange)="passValCh()"
        [ngClass]="{'error': passwordInvalid}"
        class="fadeIn third field error"
        name="password"
        placeholder="Password"
        required
      /><br />
      <br />
      <div id="remMeCont">
        <input type="checkbox" name="remMe" id="remMe" />
        <label for="remMe" id="remMeLable">Remember me</label> <br />
      </div>
      <div 
      id="errorHandler"
      [ngClass]="{'active': errorHandler}"
      > {{errorMessage}}
      </div>
      <input 
      type="submit"  
      class="fadeIn fourth submit" 
      [disabled]="form.invalid || form.disabled"
      value="Log In" />
    </form>
    <br />

    <div id="formFooter" style="text-align: center">
      <a
        class="underlineHover"
        routerLink="/registration"
        routerLinkActive="true"
        style="color: rgb(15, 148, 209)"
        >New User? Register here</a
      >
    </div>
  </div>
</div>
